/* ---------- TOOL BOX ---------- */
.flex {
  display: flex;
  justify-content: space-around;
}
.flex.flex--wrap {
  flex-wrap: wrap;
}
.flex.flex--col {
  flex-direction: column;
}
.flex.flex--reverse {
  flex-direction: row-reverse;
}
.flex.flex--reverse.flex--col {
  flex-direction: column-reverse;
}
.flex.flex--start {
  justify-content: flex-start;
}
.flex .flex_order-1 {
  order: -1;
}
.relative-parent {
  position: relative;
}
.background-parent {
  position: relative;
}
.background-parent > * {
  position: absolute;
  top: 0;
  left: 0;
}
.background-parent > img {
  position: relative;
}
.highlight {
  border: 3px blue solid;
}
.finished {
  border: 3px green solid;
}
/* ---------- OBJECTS ---------- */
.hand {
  overflow: auto;
}
.card {
  min-width: 200px;
}
.players {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 300px;
  overflow: auto;
}
.players .currentPlayer {
  background-color: #48FE00;
}
.footer {
  position: fixed;
  height: 300px;
  bottom: 0;
  left: 0;
  right: 0;
}
.card-name {
  top: 10px;
  left: 20px;
}
.deck-number {
  top: 43px;
  left: 40px;
}
