body {
}

/* ---------- TOOL BOX ---------- */

.flex {
	display: flex;
 	justify-content: space-around;

 	&.flex--wrap{
 		flex-wrap: wrap;
 	}

	&.flex--col {
		flex-direction: column;
	}

	&.flex--reverse {
		flex-direction: row-reverse;
		
		&.flex--col {
			flex-direction: column-reverse;
		}
	}

	&.flex--start {
		justify-content: flex-start
	}

	& .flex_order-1 {
		order: -1;
	}
}

.relative-parent {
	position: relative;
}

.background-parent {
	position: relative;

	& > * {
		position: absolute;
		top: 0;
		left: 0;
	}

	& > img {
		position: relative;
	}
}

.highlight {
	border: 3px blue solid;
}

.finished {
	border: 3px green solid;
}

/* ---------- OBJECTS ---------- */
@hand-height : 300px;

.hand{
	overflow: auto;
}
.card{
	min-width: 200px;
}

.players{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: @hand-height;
	overflow: auto;

	.currentPlayer {
		background-color: #48FE00;
	}
}

.footer{
	position: fixed;
	height : @hand-height;
	bottom: 0;
	left: 0;
	right: 0;
}

.card-img {}
.card-name {
	top: 10px;
	left: 20px;
}

.deck-number {
	top: 43px;
	left: 40px;
}