<!DOCTYPE html>
<html lang="en" ng-app="EvolutionApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Evolution</title>

    <!-- Bootstrap core CSS -->
    <link href="libs/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/evolution.js"></script>
    
  </head>

  <body ng-controller="EvolutionCtrl">

    <div class="container">
      
      <div class="players flex flex--col flex--reverse">

        <div class="player-board flex" ng-repeat="player in players">

          <div>
            <label>{{player.name}}</label>
            <label>{{player.cardNumber}}</label>
          </div>

          <div ng-repeat="specie in player.species">
            <img src="images/species.png" alt="species">
            <ul>
              <li class="list-unstyled" ng-repeat="trait in specie.traits">
                {{trait.name}} {{trait.cost}}
              </li>
            </ul>
          </div>

        </div>

      </div>
      
      <div class="footer row">
        <div class="hand col-xs-10">

          <ul class="list-inline">
            <li class="background-parent" ng-repeat="card in player().hand">
              <img src="images/cardBackground.png" alt="card background">
              <label class="card-name">{{card.shortName}}</label>
            </li>
          </ul>

        </div>

        <div class="menu col-xs-2">
          <div>{{phase}}</div>
          <div class="background-parent">
            <img src="images/deck.png" alt="deck">
            <label class="deck-number">{{deck.number}}</label>
          </div>
          <button ng-click="end()">End</button>
        </div>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="libs/bootstrap.min.js"></script>

  </body>
</html>
